:root {
  --bg-color: #f8fafc;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --accent-blue: #2563eb;
  --accent-blue-light: #60a5fa;
  --accent-gradient: linear-gradient(to left, var(--accent-blue-light), var(--accent-blue));

  --nav-bg: rgba(255, 255, 255, 0.702);
  --border-grey: #e2e8f0;
  --shadow-sm: #0000000d;
  --shadow-hover: rgba(37, 99, 235, 0.302);
}

.dark-mode {
  --bg-color: #020b22;
  --text-main: #f8fafc;
  --text-muted: #a0adc0;
  --accent-blue: #3b82f6;
  --accent-blue-light: #93c5fd;
  --accent-gradient: linear-gradient(to left, var(--accent-blue-light), var(--accent-blue));

  --nav-bg: rgba(16, 26, 52, 0.702);
  --border-grey: #1e293b; 
  --shadow-sm: #00000066; 
  --shadow-hover: rgba(110, 158, 235, 0.349);
}

* {
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 130px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-main);
  transition: background-color 0.5s ease, color 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: var(--accent-blue);
}

section {
  padding: 0 5% 60px 5%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 1rem;
  color: var(--text-muted);
  margin: 0;
  max-width: 60ch;
  transition: color 0.5s ease;
}

abbr {
  text-decoration: none;
  border-bottom: 1px solid var(--text-muted);
  cursor: help;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 3px 0;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-image: var(--accent-gradient);
  border: none;
  color: white;
}

.btn-primary:hover {
  color: white;
  box-shadow: 0 5px 10px var(--shadow-hover);
}

.btn-secondary {
  padding: 7px 15px 7px 15px;
  background-color: transparent;
  border: 1px solid var(--accent-blue);
  color: var(--accent-blue);
  transition: color 0.5s ease, border-color 0.5s ease;
}

.btn-secondary:hover {
  box-shadow: 0 5px 10px var(--shadow-hover);
}


