/* ----PAGE-HEADER------------------------------------ */
.main-header {
  position: fixed;
  top: 20px;
  left: 40px;
  right: 40px;
  z-index: 1000;

  /*
  display: flex;
  align-items: center;
  justify-content: space-between;
  */
  padding: 7px 30px;

  background-color: var(--nav-bg);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  /* glass effects */
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
}

.main-header nav {
  /*
  display: flex;
  align-items: center;
  gap: 40px;
  */
}

.logo {
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: -0.5px;
}

.nav-links {
  /*
  display: flex;
  gap: 20px;
  */

  font-weight: 500;
  font-size: 1rem;

  color: var(--text-muted);
}

/* ----LANGUAGE-TOGGLE-------------------------------- */
.language-toggle {
  padding: 2px;

  background-color: var(--bg-color);
  border-radius: 25px;
}

.toggle-btn {
  padding: 8px 16px;

  font-weight: 500;
  font-size: 0.8rem;

  background-color: var(--bg-color);
  border: none;
  border-radius: 25px;

  cursor: pointer;
}

.toggle-btn:hover {
  box-shadow: 0 5px 10px rgba(37, 99, 235, 0.3);
}

.active-language {
  background-color: var(--accent-blue);
  color: white;
}

/* ----PAGE-FOOTER------------------------------------ */
.main-footer {
  /*
  display: flex;
  justify-content: space-between;
  align-items: center;
  */

  padding: 40px 5%;
  background-color: #ffffff;
  border-top: 1px solid #e2e8f0;
}

.footer-name {
  margin: 0;
  font-weight: 700;
}

.footer-links {
  /*
  display: flex;
  gap: 20px;
  */

  font-size: 0.9rem;
  font-weight: 500;
  
  color: var(--text-muted);
}

.contact-icon {
  width: 40px;
}

.contact-link a .contact-icon {
  fill: var(--text-muted);
  transition: fill 0.3s ease;
}

.contact-link a:hover .contact-icon {
  fill: var(--accent-blue);
}

.contact-link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----RESPONSIVITY------------------------------------ */
