@media print { 
  @page {
    size: A4 portrait;
    margin: 1.5cm 1cm;
  }

  body {
    color: black;
    background-color: initial;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10px 0;
  }

  #hero {
    flex-direction: row;
    min-height: auto;
    box-shadow: none;
    padding: 0 0 10px 0;
  }

  #about,
  #education,
  .main-footer {
    margin: 0;
    break-inside: avoid;
  }

  #about {
    flex-direction: column;
  }

  .nav,
  .hamburger-button,
  .language-toggle,
  .display-mode-toggle,
  .project-links,
  .education-links,
  .timeline-item::after,
  .timeline-item::before,
  .print-button {
    display: none;
  }

  .main-header {
    all: unset;
    display: block;
    text-align: center;
  }

  .mobile-menu {
    display: block;
  }

  .about-main {
    margin-top: 15x;
  }

  .hero-title {
    font-size: 1.6rem;
    color: black;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .section-title {
    all: unset;
    display: block;
    margin: 10px 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
  }
  
  .photo-container {
    margin: 0;
  }

  .hero-photo {
    width: 150px;
    height: auto;
  }

  .main-footer {
    margin-top: 15px;
    padding: 10px;
  }

  #about p,
  .timeline-item,
  .education-card,
  .main-footer {
    break-inside: avoid;
  }

  .page-info {
    display: none;
  }

  .timeline {
    margin: 0;
    padding: 0;
  }

  .education-card {
    padding: 20px;
  }
}