.section-title {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}

.section-title,
.hero-title, 
.hero-subtitle {
  color: transparent;
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text; /* twice the same property for browser compatibility */
}

/* ----HERO-SECTION------------------------------------ */
#hero {
  position: relative;
  z-index: 1; 
  padding-top: 140px;
  min-height: 100dvh;
  /* box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}

.hero-subtitle {
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: var(--text-main);
  line-height: 1.5;
}

.hero-title {
  margin-left: 10px;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.5;
}

.highlight {
  font-style: normal;
}

.photo-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.photo-container img {
  max-width: 280px;
  object-fit: cover;
  border-radius: 40px;
}

/* ----ABOUT-SECTION------------------------------------ */
#about {
  margin: 0 3%;
}

#about p {
  margin: 20px 0;
}

.motto-container {
  height: fit-content;
  padding: 7px 20px;
  max-width: 630px;

  background-color: var(--nav-bg);
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.personal-motto {
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;

  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.3;

  color: var(--text-main);
  border-left: 4px solid var(--accent-blue-light);
}

/* ----EXPERIENCE-&-PROJECTS-SECTION------------------------------------ */
#experience,
#projects,
#education {
  max-width: 1000px;
  margin-left: auto; 
  margin-right: auto;
}

.experience-title,
.projects-title,
.education-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-main);
}

.timeline-date {
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--text-muted);
}

#experience p,
#projects p {
  color: var(--text-muted);
}

.timeline {
  padding: 0 0 0 25px;
  margin: 0 10px;
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -33.5px;
  width: 15px;
  height: 15px;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-blue);
  border-radius: 50%;
}

.timeline-item::after {
  content: "";
  position: absolute;
  left: -25px;
  top: 24px;
  bottom: -35px;
  width: 2px;
  background-color: var(--accent-blue);
}

.timeline-item:last-child::after {
  display: none;
}

.project-links,
.education-links {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.skill {
  font-weight: 600;
}
/* ----EDUCATION-SECTION------------------------------------ */
.education-grid {
  display: grid;
  gap: 15px;
}

.education-card {
  padding: 30px;
  background-color: var(--nav-bg);
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/* ----RESPONSIVITY------------------------------------ */
@media (min-width: 384px) {
  .timeline-projects::before {
    bottom: 75px;
  }
}

@media (min-width: 482px) {
  .timeline::before {
    bottom: 75px;
  }
}

@media (min-width: 630px) {
  #hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .education-card {
    display: flex;
    gap: 25px;
  }

  .education-info {
    flex: 1;
  }

  .education-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
}

@media (min-width: 700px) {
  .education-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  
  .education-card {
    display: inline-block;
  }

  .education-links {
    display: inline-block;
  }

  .timeline-item header {
  display: flex;
  align-items: center;
  align-content: flex-start;
  column-gap: 15px;
  row-gap: 0;
  flex-wrap: wrap;
}
}

@media (min-width: 840px) {
  #about {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .motto-container {
    flex: 40%;
  }
}