.section-title {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  color: var(--accent-blue);
}

/* ----HERO-SECTION------------------------------------ */
#hero {
  /*
  display: flex;
  align-items: center;
  */

  padding-top: 130px;
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hero-texts {
  /* flex: 1; */
}

.hero-subtitle {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3rem;
  color: var(--text-main);
}

.hero-title {
  margin-bottom: 40px;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1.1;
}

.highlight {
  font-style: normal;
  color: var(--accent-blue);
}

.photo-container {
  /*
  width: 35%;
  margin-right: 20px;
  */
}

.photo-container img {
  max-width: 330px;
  object-fit: cover;
  border-radius: 40px;
}

/* ----ABOUT-SECTION------------------------------------ */
.about {
  /*
  display: flex;
  align-items: center;
  gap: 25px;
  */
  max-width: 1200px;
}

.about p {
  max-width: 700px;
  margin: 25px;
}

.motto-container {
  height: fit-content;
  padding: 7px 20px;
  /* flex: 40%; */

  background-color: var(--nav-bg);
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.personal-motto {
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;

  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.3;

  color: var(--text-main);
  border-left: 4px solid var(--accent-blue);
}

/* ----EXPERIENCE-&-PROJECTS-SECTION------------------------------------ */
.experience-title,
.projects-title,
.education-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-main);
}

.timeline-date {
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--text-muted);
}

#experience p,
#projects p {
  max-width: 700px;
  color: var(--text-muted);
}

.timeline {
  position: relative;
  padding: 0 0 0 25px;
}

.timeline::before {
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 29px;
  width: 2px;

  content: "";
  background-color: var(--accent-blue);
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -33.5px;
  width: 15px;
  height: 15px;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-blue);
  border-radius: 50%;
}

.timeline-item header {
  /*
  display: flex;
  align-items: center;
  align-content: flex-start;
  column-gap: 15px;
  row-gap: 0;
  flex-wrap: wrap;
  */
}

.project-links,
.education-links {
  /*
  display: flex;
  gap: 15px;
  margin-top: 8px;
  */
}

/* ----EDUCATION-SECTION------------------------------------ */
.education-grid {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  */
}

.education-card {
  padding: 30px;
  background-color: var(--nav-bg);
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}